API_ID=28349223 # get this value from my.telegram.org
API_HASH=aeb263308eea63ea4684f763ea2db7d9 # get this value from my.telegram.org
BOT_TOKEN=5301062883:AAFfnNT0NydPMzrJmAn8nys3t5d8SgkyRTw # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://pianjing:3maret2003@cluster0.fnjwcmz.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001817452686 # get this value from in your log group 
MUSIC_BOT_NAME=Zea x Robot # your music bot name 
STRING_SESSION=BAA1w9ZhMtfFIK-MWHjgo0OgumvJLl98olkVIuhvdEn37-RkPQlvPUQKRZtYFyh6aRK3fPaj5uSllQF5d6ZwaVJdKCcr_JNe0iSbfJnrOzOWYz5lz8ZNACLPt8f9vfhEWm8NX4Xr5mKZ3CJyNonEGlxu0HHWYreIjqqmnnUWobP1yRiorwc8ywKSQ_CciyrDCm_MbATqTbZNuKTYo4FfKWEFaDQAq8JHAuNBI58Ml9nTOTmMIYz1N1o_nZStw1PrIkGx1wVDR1Wu-Hsvgwc1uEnOYReQDTt4DRGdY-v4bgMxfbO4EmoGLx4njphC9i2daNFQP8Z88VVIDl78s8erEdsxAAAAAW4XqksA # get this value from @yukkistringbot
